<div id="footer-wrapper">
  <div class="footer-wrapper-inner">
    <!-- Copyright -->
    <div id="copyright" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="moduletable   col-sm-12">
            <div class="module_container">
              <div class="mod-menu mod-menu__social">
                <ul class="nav menu social">
                  <li class="item-148">
                    <a class="fa fa-facebook hasTooltip" href="{{ site.data.networks.facebook.href }}" target="_blank"
                       title="Facebook">
                    </a>
                  </li>
                  <li class="item-150">
                    <a class="fa fa-instagram hasTooltip" href="{{ site.data.networks.instagram.href }}" target="_blank"
                       title="Instagram">
                    </a>
                  </li>
                  <li class="item-149">
                    <a class="fa fa-twitter hasTooltip" href="{{ site.data.networks.twitter.href }}" target="_blank"
                       title="Twitter">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="copyright col-sm-12">
            <span class="siteName">{{ site.title }}</span>
            <span class="copy">&copy; </span><span class="year">2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="back-top">
  <a href="#"><span></span> </a>
</div>