<!-- maintop2 -->
<div id="maintop2">
  <div class="container">
    <div class="row">
      <div class="moduletable home_services2  col-sm-12">
        <div class="module_container">
          <header class='page_header'><h1 class="moduleTitle "><span
              class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Nuestros</span>
            <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">servicios</span>
          </h1></header>
          <div class="mod-newsflash-adv mod-newsflash-adv__home_services2 cols-2" id="module_212">
            <div class="row">
              <article class="col-sm-6 item item_num0 item__module  " id="item_146">

                <div class="item_content">

                  <div class="oh">

                    <i class="fa fa-wrench"></i>


                    <!-- Item title -->
                    <h5 class="item_title item_title__home_services2"><a
                        href="/joomla_61368/index.php/66-our-services/146-home-business-computer-maintenance"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Home</span>
                      <span class="item_title_part_1 item_title_part_even item_title_part_first_half">/</span> <span
                          class="item_title_part_2 item_title_part_odd item_title_part_first_half">Business</span> <span
                          class="item_title_part_3 item_title_part_even item_title_part_second_half">Computer</span>
                      <span
                          class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">Maintenance</span></a>
                    </h5>

                  </div>


                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Home / Business computer maintenance is offered as a monthly membership at Cellular Repair
                      Center. Computer maintenance is very important in order to ensure effective performance and secure
                      browsing.</p>
                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-6 item item_num1 item__module  " id="item_147">

                <div class="item_content">

                  <div class="oh">

                    <i class="fa fa-comments"></i>


                    <!-- Item title -->
                    <h5 class="item_title item_title__home_services2"><a
                        href="/joomla_61368/index.php/66-our-services/147-calgary-seo-and-digital-marketing-search-engine-optimization"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Calgary</span>
                      <span class="item_title_part_1 item_title_part_even item_title_part_first_half">SEO</span> <span
                          class="item_title_part_2 item_title_part_odd item_title_part_first_half">and</span> <span
                          class="item_title_part_3 item_title_part_even item_title_part_first_half">Digital</span> <span
                          class="item_title_part_4 item_title_part_odd item_title_part_second_half">Marketing:</span>
                      <span class="item_title_part_5 item_title_part_even item_title_part_second_half">Search</span>
                      <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">Engine</span>
                      <span
                          class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">Optimization</span></a>
                    </h5>

                  </div>


                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Make a splash on the web with our Calgary SEO services. We use the most effective search engine
                      optimization and digital marketing strategies, tools, and skills to move your business to the top
                      of Google.</p>
                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
            </div>
            <div class="row">
              <article class="col-sm-6 item item_num2 item__module  " id="item_148">

                <div class="item_content">

                  <div class="oh">

                    <i class="fa fa-cogs"></i>


                    <!-- Item title -->
                    <h5 class="item_title item_title__home_services2"><a
                        href="/joomla_61368/index.php/66-our-services/148-hardware-installation-replacement-is-a-computer-repair-service-provided"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Hardware</span>
                      <span
                          class="item_title_part_1 item_title_part_even item_title_part_first_half">Installation</span>
                      <span class="item_title_part_2 item_title_part_odd item_title_part_first_half"></span> <span
                          class="item_title_part_3 item_title_part_even item_title_part_first_half"></span> <span
                          class="item_title_part_4 item_title_part_odd item_title_part_first_half"></span> <span
                          class="item_title_part_5 item_title_part_even item_title_part_first_half"></span> <span
                          class="item_title_part_6 item_title_part_odd item_title_part_first_half"></span> <span
                          class="item_title_part_7 item_title_part_even item_title_part_second_half"></span> <span
                          class="item_title_part_8 item_title_part_odd item_title_part_second_half"></span> <span
                          class="item_title_part_9 item_title_part_even item_title_part_second_half"></span> <span
                          class="item_title_part_10 item_title_part_odd item_title_part_second_half"></span> <span
                          class="item_title_part_11 item_title_part_even item_title_part_second_half">and</span> <span
                          class="item_title_part_12 item_title_part_odd item_title_part_second_half">Replacement</span>
                      <span
                          class="item_title_part_13 item_title_part_even item_title_part_second_half item_title_part_last">services</span></a>
                    </h5>

                  </div>


                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Sometimes when you are having software issues, there may be an underlying hardware issue causing
                      the problem. Hardware installation also includes upgrades. </p>
                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-6 item item_num3 item__module  " id="item_149">

                <div class="item_content">

                  <div class="oh">

                    <i class="fa fa-clock-o"></i>


                    <!-- Item title -->
                    <h5 class="item_title item_title__home_services2"><a
                        href="/joomla_61368/index.php/66-our-services/149-data-recovery-preventative-maintenance-rather-than-repair"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Data</span>
                      <span class="item_title_part_1 item_title_part_even item_title_part_first_half">recovery</span>
                      <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">preventative</span>
                      <span class="item_title_part_3 item_title_part_even item_title_part_first_half">maintenance</span>
                      <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">is</span> <span
                          class="item_title_part_5 item_title_part_even item_title_part_second_half">better</span> <span
                          class="item_title_part_6 item_title_part_odd item_title_part_second_half">than</span> <span
                          class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">repair</span></a>
                    </h5>

                  </div>


                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Not all data recovery situations are preventable and for this reason, data recovery is a
                      necessary part of the services we offer. Data recovery is heavily influenced by what happens
                      directly after the failure of the device.</p>
                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
            </div>
            <div class="row">
              <article class="col-sm-6 item item_num4 item__module  " id="item_150">

                <div class="item_content">

                  <div class="oh">

                    <i class="fa fa-umbrella"></i>


                    <!-- Item title -->
                    <h5 class="item_title item_title__home_services2"><a
                        href="/joomla_61368/index.php/66-our-services/150-virus-protection-is-probably-one-of-the-most-crucial-necessities"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Virus</span>
                      <span class="item_title_part_1 item_title_part_even item_title_part_first_half">Protection</span>
                      <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">is</span> <span
                          class="item_title_part_3 item_title_part_even item_title_part_first_half">one</span> <span
                          class="item_title_part_4 item_title_part_odd item_title_part_first_half">of</span> <span
                          class="item_title_part_5 item_title_part_even item_title_part_second_half">the</span> <span
                          class="item_title_part_6 item_title_part_odd item_title_part_second_half">most</span> <span
                          class="item_title_part_7 item_title_part_even item_title_part_second_half">crucial</span>
                      <span
                          class="item_title_part_8 item_title_part_odd item_title_part_second_half item_title_part_last">necessities</span></a>
                    </h5>

                  </div>


                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Our PC has the best virus removal tactics and follow up protection as low as $19.99/mo, that will
                      scan your computer daily and detect malware and remove it in 4 seconds. </p>
                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-6 item item_num5 item__module  lastItem" id="item_151">

                <div class="item_content">

                  <div class="oh">

                    <i class="fa fa-ambulance"></i>


                    <!-- Item title -->
                    <h5 class="item_title item_title__home_services2"><a
                        href="/joomla_61368/index.php/66-our-services/151-disk-cleanse-windows-installation"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">DISK</span>
                      <span class="item_title_part_1 item_title_part_even item_title_part_first_half">CLEANSE</span>
                      <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">/WINDOWs</span>
                      <span class="item_title_part_3 item_title_part_even item_title_part_first_half"></span> <span
                          class="item_title_part_4 item_title_part_odd item_title_part_second_half"></span> <span
                          class="item_title_part_5 item_title_part_even item_title_part_second_half"></span> <span
                          class="item_title_part_6 item_title_part_odd item_title_part_second_half"></span> <span
                          class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">INSTALLATION</span></a>
                    </h5>

                  </div>


                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Consider our operating system re-installation service. This is the best way to ensure that %100
                      percent of key loggers etc are removed permanently. We are able to backup important files before
                      any disk cleansing is done.</p>
                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
            </div>
            <div class="clearfix"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>