<!-- showcase -->
<div id="showcase">
  <div class="container">
    <div class="row">
      <div class="moduletable home_services  col-sm-12">
        <div class="module_container">
          <div class="mod-newsflash-adv mod-newsflash-adv__home_services cols-2" id="module_210">
            <div class="row">
              <article class="col-sm-6 item item_num0 item__module  " id="item_141">

                <div class="item_content">
                  <i class="fa fa-laptop"></i>

                  <div class="oh">
                    <!-- Item title -->
                    <h4 class="item_title item_title__home_services"><a
                        href="/joomla_61368/index.php/65-home-services/141-computers-repair"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Computer</span>
                      <span
                          class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Repairs</span></a>
                    </h4>
                    <!-- Introtext -->
                    <div class="item_introtext">
                      <p>Office computer repair and business IT service at its best. We provide reliable and timely
                        business computer support services.</p>
                    </div>

                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-6 item item_num1 item__module  " id="item_142">

                <div class="item_content">
                  <i class="fa fa-mobile"></i>

                  <div class="oh">
                    <!-- Item title -->
                    <h4 class="item_title item_title__home_services"><a
                        href="/joomla_61368/index.php/65-home-services/142-smartphones-repair"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Smartphone</span>
                      <span
                          class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Repairs</span></a>
                    </h4>
                    <!-- Introtext -->
                    <div class="item_introtext">
                      <p>Whether you carry the latest model or you are still attached to your iPhone3, we can take care
                        of your trusted friend and bring it back to life. </p>
                    </div>

                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
            </div>
            <div class="row">
              <article class="col-sm-6 item item_num2 item__module  " id="item_143">

                <div class="item_content">
                  <i class="fa fa-tablet"></i>

                  <div class="oh">
                    <!-- Item title -->
                    <h4 class="item_title item_title__home_services"><a
                        href="/joomla_61368/index.php/65-home-services/143-network-services"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Network</span>
                      <span
                          class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Services</span></a>
                    </h4>
                    <!-- Introtext -->
                    <div class="item_introtext">
                      <p>If you need a wireless or wired network setup, just give us a call, and you’ll be up and
                        running in no time! We are alway ready to help you.</p>
                    </div>

                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-6 item item_num3 item__module  lastItem" id="item_144">

                <div class="item_content">
                  <i class="fa fa-gamepad"></i>

                  <div class="oh">
                    <!-- Item title -->
                    <h4 class="item_title item_title__home_services"><a
                        href="/joomla_61368/index.php/65-home-services/144-gadgets-repair"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Gadget</span>
                      <span
                          class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Repairs</span></a>
                    </h4>
                    <!-- Introtext -->
                    <div class="item_introtext">
                      <p>We can get any gaming console of your ownership running again, be it PlayStation 3, Xbox 360 or
                        Nintendo Wii.</p>
                    </div>

                  </div>


                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div>
              </article>
            </div>
            <div class="clearfix"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>