<!-- header -->
<div id="header"><div class="moduletable "><div class="module_container"><div id="swiper-slider_208" class="swiper-container swiper-slider "
                                                                              data-min-height="200px"
                                                                              data-height="37.5%"
                                                                              data-autoplay="false"
                                                                              data-loop="true"
                                                                              data-slide-effect="slide"

>
  <div class="swiper-wrapper">

    <div class="swiper-slide"
         data-slide-bg="https://livedemo00.template-help.com/joomla_61368/images/slider/slide-3.jpg"
    >
      <div class="swiper-slide-caption"
           data-caption-animate="fadeIn"
           data-caption-delay="200">
        <div class="camera_caption ">


          <h1 class="slide-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">ANY</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">DEVICE</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">PROBLEMS?</span></h1>




          <h2><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">RECEIVE</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">SERVICES!</span></h2>
          <!-- Read More link -->

        </div>
      </div>
    </div>

    <div class="swiper-slide"
         data-slide-bg="https://livedemo00.template-help.com/joomla_61368/images/slider/slide-2.jpg"
    >
      <div class="swiper-slide-caption"
           data-caption-animate="fadeIn"
           data-caption-delay="200">
        <div class="camera_caption ">


          <h1 class="slide-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">iPhone</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Repair</span></h1>




          <h2><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">From</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">broken</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">to</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">fixed.</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">
It’s</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half">that</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half item_title_part_last">simple.</span></h2>
          <!-- Read More link -->

        </div>
      </div>
    </div>

    <div class="swiper-slide"
         data-slide-bg="https://livedemo00.template-help.com/joomla_61368/images/slider/slide-1.jpg"
    >
      <div class="swiper-slide-caption"
           data-caption-animate="fadeIn"
           data-caption-delay="200">
        <div class="camera_caption ">


          <h1 class="slide-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">We'll</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">diagnose</span></h1>




          <h2><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">and</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">heal</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">up</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">your</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">
tABLET.</span></h2>
          <!-- Read More link -->

        </div>
      </div>
    </div>
  </div>
  <!-- Swiper Navigation -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
</div></div></div>