<!-- feature -->
<div id="feature">
  <div class="container">
    <div class="row">
      <div class="moduletable excellence  col-sm-12">
        <div class="module_container">
          <header class='page_header'><h2 class="moduleTitle "><span
              class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Providing</span>
            <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">excellence</span>
          </h2></header>
          <div class="mod-article-single mod-article-single__excellence" id="module_211">
            <div class="pretext">
              in things we do
            </div>
            <div class="item__module" id="item_145">

              <!-- Intro Text -->
              <div class="item_introtext">
                <p>Whether you need a computer repair, virus and spyware removal, upgrades, network installation &
                  administration, web design, hardware & software consulting, or training - we will go on-site to bring
                  the solution to you. All computer repairs are performed on the same day brought. We know you need your
                  computer back fast and are committed to providing swift service. iPhone repairs take 20 – 30 minutes
                  and iPad repairs take 1 – 3 hours.</p>
              </div>
              <a class="btn btn-info readmore"
                 href="/joomla_61368/index.php/2-uncategorised/145-providing-excellence"><span>Read more</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>